# Created by .ignore support plugin (hsz.mobi)
/.idea/

/vendor/
/public/img/bg_1.jpg
/public/assets/
/public/dist/
/users/img/user/
/dialog.html
/modal.php
/templates/testImages.php
/public/css/carousel.css
/public/img/bg_2.jpg
/public/img/bg_3.jpg
/Caroussel-bootsrap.html
/bootstrap.html
/public/css/tuto.css
/bootstrapgrid3.html
/bootstrapgrid2.html
/public/css/tuto2.css
