body{
    padding-top: 0;
    background-color: #d1d5d9;
}



[class*="col-"], footer {

    background-color: transparent;

    /*border: 1px solid  gray;

      border-radius: 6px;*/

    /*line-height:40px;*/

  text-align: center;

}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.col-lg-offset-6 {
    margin-left: 50%;
}

/*.col-lg-offset-1 {
    margin-left: 50%;
}*/

.col-lg-offset-10{
    margin-left: 50%;
}
/*.col-lg-offset-12{
    margin-left: 83.3%;
}*/

.col-lg-offset-3 {
    margin-left: 50%;
}

.col-lg-offset-4 {
    margin-left: 50%;
}

.col-lg-offset-5 {
    margin-left: 50%;
}

.col-lg-offset-7 {
    margin-left: 50%;
}

.col-lg-offset-8 {
    margin-left: 50%;
}

.col-lg-offset-9 {
    margin-left: 50%;
}

.col-lg-offset-11 {
    margin-left: 50%;
}
/*
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
*/

.mailAvatar
{
    border-radius: 50%;
}

.marginLeft
{
    margin-left: 10px;
}


.connected
{

    border: 5px solid  #00cc00;
}

.notHere
{
    border: 5px solid orange;
}

.doNotDisturb
{
    border: 5px solid  red;
}