{% extends 'layout.html.twig' %}
{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
{% endblock %}
{% block title %} Projet twig {% endblock title %}


    {% block signUp%}s'incrire{% endblock %}
    {% block signUpLink%}index.php?p=signUp{% endblock %}
    {% block connexion %}connexion{% endblock %}
    {% block connexionLink %}index.php?p=connexion{% endblock %}


{% block main %}
    <h1>Hello {{ userDatum.first_name }}</h1>










{% endblock %}