{% extends "templateUserPages.html.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="public/css/users.css">
{% endblock stylesheet %}



{% block navMenu %}
    <li class="nav-item"><a class="nav-link" href="index.php?p=galerie1">galerie 1</a></li>
    <li class="nav-item"><a class="nav-link" href="index.php?p=galerie2">galerie 2</a></li>
    <li class="nav-item"><a class="nav-link" href="index.php?p=galerie3">galerie 3</a></li>


{% endblock navMenu %}

{% block main %}

    <h1>Hello  {{ userDatum.first_name }}  </h1>

<div class="col-lg-4">
              <img class="rounded-circle" id="cropImage" src="users/img/user/{{ userDatum.username }}/crop/{{ imageProfil }}.jpg" alt="Generic placeholder image" width="150" height="150" >

</div><!-- /.col-lg-4 -->

{% endblock %}


