{% extends 'layout.html.twig' %}

{% block title %} Whole While World {% endblock title %}


    {% block signUp%}s'inscrire{% endblock %}
    {% block signUpLink%}index.php?p=signUp{% endblock %}
    {% block connexion %}connexion{% endblock %}
    {% block connexionLink %}index.php?p=connexion{% endblock %}


{% block main %}

    {% for userDatum in userData %}
<h1>la page de {{ userDatum.username }}</h1>






{% endfor %}









{% endblock %}