{% extends "hello.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="public/css/users.css">
{% endblock %}



{% block navMenu %}
    <li class="nav-item"><a class="nav-link" href="index.php?p=galerie1">galerie 1</a></li>
    <li class="nav-item"><a class="nav-link" href="index.php?p=galerie3">galerie 3</a></li>









{% endblock %}

{% block main %}

    <h1>Hello  {{ userDatum.first_name }}  </h1>



        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="rounded-circle" src="users/img/user/{{ userDatum.username }}/crop/img_001-cropped.jpg" alt="Generic placeholder image" width="150" height="150">

            </div><!-- /.col-lg-4 -->


        </div><!-- /.row -->

{% endblock %}