{% extends 'layout.html.twig' %}

{% block title %} Projet twig {% endblock title %}

{% block main %}

    {% for userDatum in userData %}
<h1>la page de {{ userDatum.username }}</h1>






{% endfor %}









{% endblock %}