{% extends "messages.html.twig" %}

{% block main %}
    {{ parent() }}

    <div id="mp_col_middle" class="col-md-6">
        <textarea name="writeMessage" id="writeMessage" cols="55" rows="10"></textarea>

    </div>




{% endblock main %}
